.panel.panel-primary
  .panel-heading
    i.fa.fa-download
    下载

  .panel-body
    p
      a(href='{{link}}', target='_self', download='{{file}}') 下载生成的favicon
      ， 然后将目录中的文件复制到你网站的根目录下

    h3 下一步？
    p= '将下列代码添加到你的HTML <head> 标签中'

    pre
      code
        = '<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">'
        br
        = '<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">'
        br
        = '<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">'
        br
        = '<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">'
        br
        = '<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">'
        br
        = '<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">'
        br
        = '<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">'
        br
        = '<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">'
        br
        = '<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">'
        br
        = '<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">'
        br
        = '<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">'
        br
        = '<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">'
        br
        = '<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">'
        br
        = '<link rel="manifest" href="/manifest.json">'
        br
        = '<meta name="msapplication-TileColor" content="#ffffff">'
        br
        = '<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">'
        br
        = '<meta name="theme-color" content="#ffffff">'

    p
      a(ng-click='reloadRoute()') 生成另一个favicon
