md-dialog(aria-label='Favicon已经准备好')
  md-toolbar.md-accent
    .md-toolbar-tools
      h2 Favicon已经准备好
      span(flex)
      md-button.md-icon-button(ng-click='cancel()')
        i.fa.fa-remove
  md-dialog-content(style='{max-width: 800px}')
    md-list
      md-list-item
        p 下载生成的favicons，然后将目录中的文件复制到你网站的根目录下。
        md-button.md-accent.md-fab(ng-href='{{link}}' 
                                 target='_self' 
                                 download='{{file}}'
                                 aria-label='下载Favicons')
          i.fa.fa-download
          md-tooltip 下载Favicons
    h3 下一步？
    p= '将下列代码添加到你的HTML <head> 标签中'
    include:markdown ../shared/code.md

  .md-actions(layout='row')
    md-button.md-primary(ng-click='cancel()') 生成另一个favicon
    span(flex)
    md-button.md-warn(ng-click='share()') 好用就分享给你的朋友吧
